body,html {
  text-align: center;
  color: white;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  background-image:linear-gradient(
      115deg,
      rgba(58, 58, 158, 0.8),
      rgba(34, 34, 98, 0.1)
    ), url(https://unblast.com/wp-content/uploads/2021/01/Space-Background-Images-1024x682.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachement: scroll;
  font-size: 1rem;
}

form {
  display: block;
  background-color : rgba(23, 35, 74, 0.77);
  background-clip: padding-box;
  padding: 2.5rem 0.625rem;
  border-radius: 0.25rem;
}

.data {
  display: flex;
  flex-direction: column;
  margin: 0 auto 1.25rem auto;
  padding: 0.25rem;
  text-align: left;
  width: 100%;
}

#submit {
  width: 100%;
  border-radius: 2px;
  padding: 0.2rem;
  cursor: pointer;
  background: green;
  color: white;
}

@media (min-width: 480px) {
  form {
    padding: 2.5em;
  }
}
